$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$aside-width: 290px;
$wide-width: 1200px;
$big-screen-width: 1900px;

$gray: #aaaaaa;
$light-gray: #eeeeee;

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header.main,
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
header h3,
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.ruter {
  width: 330px;
  header {
    float: left;
    display: inline-block;
    h1 {
      margin-top: 0;
    }
  }
  ul {
    float: left;
    list-style: none;
    li {
      display: inline-block;
      float: left;
      &:not(:first-child) {
        &:before {
          content: "|";
        }
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    overflow: hidden;
  }
  .departuretime {
    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
  .line,
  .timeleft {
    font-weight: bold;
  }
}

header.main {
  width: 400px;
  display: inline-block;
}

aside.right {
  width: $aside-width;
  float: right;
  border-left: 1px solid #e5e5e5;
}

.twitter {
  $width: 290px;
  max-width: $width;
  header h1 {
    margin-left: 145px;
    margin-top: 0;
  }
  ul {
    list-style: none;
    li {
      border-radius: 5px;
      padding: 5px;
      background-color: $gray;
      &:not(:first-child) {
        margin-top: 5px;
      }
      h3 {
        font-size: 16px;
        line-height: inherit;
        padding-bottom: 0;
        display: inline-block;
      }
      .user {
        img {
          max-width: 25px;
        }
      }
      .media img {
        max-width: $width - 50px;
      }
    }
  }
}

.images {
  float: left;
  ul {
    list-style: none;
  }
  img {
    max-width: 330px;
  }
  .item {
    display: none;
    &.active {
      display: block;
    }
  }
}

.error {
  @extend .alert;
  @extend .alert-danger;
  clear: left;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Kind of big */
/* Responsive: Portrait tablets and up */
@media screen and (min-width: $wide-width) {
    .container {
        // max-width: $wide-width - 38px;
        max-width: inherit;
        width: 100%;
    }
    .ruter {
      width: $wide-width - 400px;
    }
    .images {
      img {
        max-width: $wide-width - 400px;
      }
    }
}

/* Full HD TV */
@media screen and (min-width: $big-screen-width) {
  .container {
    max-width: inherit;
    width: 100%;
  }
  .ruter {
    max-width: 1500px;
  }
  .images {
    img {
      max-width: 1500px;
    }
  }
}
